.background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -3;

    .background__img {
        width: 99vw;
        height: 99vh;

        @media screen and (max-width: 680px) {
            width: 100vw;
        }
    }
}