.login {
    background-color: white;
    width: 100vw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logoApp {
        width: 230px;
    }

    h4 {
        color: rgb(23, 23, 23);
        font-size: 14px;
        margin-top: 3px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 14px;
        color: rgb(64, 64, 64);
        font-weight: 700;
        margin: 15px 0;   
    }


    .inputsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .basicInput {
            width: 240px;
            padding: 12px 18px;
            font-size: 14px;
            &::placeholder {
                color: rgb(160, 160, 160);
                font-size: 14px;
            }

            max-width: 90vw;
        }
    }

    .footerStart {
        font-size: 14px;
        color: rgb(100, 100, 100);

        a {
            color: rgb(4, 108, 234);
            text-decoration: none;
        }
    }
}