body {
  margin: 0;

  /* background-color: rgb(19, 19, 19); */
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-first {
    background-color: rgb(17, 122, 17)
}
