@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;

  min-height: -webkit-fill-available;
  font-size: 16px;
}

input[type="text"] {
  font-size: inherit;
}
.bg-first {
    background-color: rgb(17, 122, 17)
}

:root {
  --baseColor: rgb(38, 179, 38);
  --boxShadow: 1px 2px 6px rgb(217, 217, 217);
}

input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  box-shadow: var(--boxShadow);
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.custom-button {
  outline: none;
  padding: 7px;
  border-radius:  50px;
  cursor: pointer;
  border: none;

  width: 240px;

  @media screen and (max-width: 680px) {
      width: 100%;
      max-width: 90vw;
  }
  
  &:hover {
      opacity: .6;
      transition: all .2s ease-in-out;
  }
}